---
import About from "@components/About.astro";
import ProjectList from "@components/ProjectList.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Hey!">
  <header>
    <h1>Hey, I'm <span class="gradient-text">Jannik</span></h1>
    <p>A Full Stack Web Developer from Germany</p>
  </header>
  <main>
    <section>
      <h2>
        <span class="gradient-text">About me</span>
      </h2>
      <About />
    </section>
    <section>
      <h2>
        <span class="gradient-text">Projects</span>
      </h2>
      <ProjectList />
    </section>
  </main>
</PageLayout>

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(0.5rem, 5vh, 3rem) 0;

    > h1 {
      font-size: var(--font-size-xl);
      text-align: center;
    }

    > p {
      text-align: center;
    }
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > section > h2 {
      margin-bottom: 0.5rem;
    }
  }
</style>
