---
---

<article>
  <main>
    <p>
      My career as a web developer began in 2019. Since then I have been able to
      build up a deep understanding of many web technologies and tools. I'm
      especially proficient in Angular and the general TypeScript ecosystem.
    </p>
    <p>
      In my spare time I like to make delicious coffee or tinker with my QMK
      keyboards. Furthermore, I have built a photobooth for rental as a small
      side hustle.
    </p>
  </main>
</article>

<style>
  p {
    line-height: 1.25;
    text-align: justify;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
</style>
