---
import ProjectCard from "@components/ProjectCard.astro";
---

<ul role="list" aria-label="My latest projects">
  <li>
    <ProjectCard
      title="Photosmarter"
      subtitle="Recent project"
      body="A responsive web interface & matching mobile app to scan documents with the HP Photosmart."
      tags={["solidjs", "flutter"]}
      href="https://github.com/qysp/photosmarter"
      external={true}
    />
  </li>
  <li>
    <ProjectCard
      title="Keymaps"
      subtitle="Hobby"
      body="Personal keymaps for my QMK keyboards"
      tags={["qmk"]}
      href="https://github.com/qysp/qmk_userspace"
      external={true}
    />
  </li>
  <li>
    <ProjectCard
      title="Want to get in touch?"
      subtitle="Contact"
      body="Contact me via hey@jalu.dev"
      href="mailto:hey@jalu.dev"
      external={false}
    />
  </li>
</ul>

<style lang="scss">
  ul {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));

    > li {
      list-style: none;
    }
  }
</style>
